//Colors
$white            :           #FFFFFF
$black            :           #000000
$Tire             :           #333333
$Gray             :           #DDDDDD
$DGray            :           #AAAAAA
$Green            :           #7EB830
$DGreen           :           #028048
$body             :           #EEEEEE
$hr               :           #777777
$telegram         :           #0088CC
$instagram        :           #FD1D1D
$purple           :           #CC00CC

//Fonts
$fa               :           'B Badr','B Nazanin'
$en               :           'sans-serif'
