.header {
  height: 50px;
  margin: 0 15%; }
  @media only screen and (max-width: 1500px) {
    .header {
      margin: 0 10%; } }

#firstHR {
  width: 70%; }
  @media only screen and (max-width: 1500px) {
    #firstHR {
      width: 80%; } }

.toplogo {
  height: 50px; }

.trigram {
  display: inline; }
  .trigram a {
    font-weight: bold;
    margin: 0 10px;
    color: #7EB830; }
    .trigram a:hover {
      color: #028048; }
    @media only screen and (min-width: 1111.1111px) {
      .trigram a {
        display: none; } }

.navi {
  float: right;
  margin: 15px 5px; }
  .navi a {
    font-weight: bold;
    color: #7EB830; }
    .navi a:hover {
      color: #028048; }

.navbar {
  display: inline; }
  .navbar ul.navUL {
    display: inline; }
    .navbar ul.navUL li {
      list-style: none;
      float: right;
      margin: 10px 0; }
      .navbar ul.navUL li a {
        font-weight: bold;
        text-decoration: none;
        font-family: "B Badr", "B Nazanin";
        color: #7EB830;
        margin: 25px 20px; }
        .navbar ul.navUL li a:hover {
          color: #028048; }
        @media only screen and (max-width: 1500px) {
          .navbar ul.navUL li a {
            margin: 25px 8px; } }
        @media only screen and (max-width: 1111.1111px) {
          .navbar ul.navUL li a {
            display: none; } }

.sidenav {
  height: 100%;
  font-family: "B Badr", "B Nazanin";
  float: right;
  text-align: right;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ddd;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5px; }
  .sidenav a.closebtn {
    text-align: left; }
  .sidenav a {
    padding: 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #7EB830;
    display: block;
    transition: 0.3s; }
    .sidenav a:hover {
      color: #028048; }

.navHR {
  width: 80%;
  margin: 0 10%;
  color: #eee; }

.groups {
  display: flex;
  justify-content: center;
  flex: 0 1 auto;
  margin: 20px 0;
  flex-wrap: nowrap; }
  .groups .groupsPRT {
    max-width: 170px;
    text-align: center;
    flex-grow: 1;
    padding: 0 10px; }
    @media (max-width: 1111px) {
      .groups .groupsPRT {
        margin: 0; } }
    @media (max-width: 600px) {
      .groups .groupsPRT {
        padding: 0 5px; } }
    .groups .groupsPRT .groupsIMG img {
      vertical-align: middle;
      width: 150px;
      height: 150px;
      text-align: center;
      border-radius: 100px;
      border: 2px solid #7EB830;
      box-shadow: 0 0 15px gray; }
      @media (max-width: 1111.1111px) {
        .groups .groupsPRT .groupsIMG img {
          height: 100px;
          width: 100px; } }
      @media (max-width: 600.1111px) {
        .groups .groupsPRT .groupsIMG img {
          height: 75px;
          width: 75px; } }
    .groups .groupsPRT .groupsTLT {
      text-align: center;
      padding: 0;
      margin: 15px;
      position: relative;
      text-transform: capitalize;
      min-height: 50px;
      border: none;
      display: inline-block;
      color: #7EB830;
      text-decoration: none;
      font-family: "B Badr", "B Nazanin";
      font-size: 20px;
      font-weight: bold; }
      @media (max-width: 600px) {
        .groups .groupsPRT .groupsTLT {
          margin: 5px; } }

footer {
  display: flex;
  flex: 4;
  background-color: #ddd; }

h3 {
  color: #028048;
  font-family: "B Badr", "B Nazanin"; }

ul li {
  list-style: none; }
  ul li a {
    text-decoration: none;
    color: #7EB830;
    font-family: "B Badr", "B Nazanin"; }

.footerLOGO {
  flex: 1;
  text-align: right; }
  .footerLOGO img {
    height: 50px; }

.AboutUS {
  flex: 1;
  text-align: right; }

.Customer {
  flex: 1;
  text-align: right; }

.Connect {
  flex: 1;
  text-align: right; }

.Right {
  display: block;
  font-family: Work Sans, sans-serif; }

body {
  background-color: #eee; }

* {
  box-sizing: border-box; }

/*# sourceMappingURL=Main.css.map */
