.header {
  height: 50px;
  margin: 0 15%; }
  @media only screen and (max-width: 1500px) {
    .header {
      margin: 0 10%; } }

#firstHR {
  color: #777777;
  width: 70%; }
  @media only screen and (max-width: 1500px) {
    #firstHR {
      width: 80%; } }

.toplogo {
  height: 50px; }

.trigram {
  display: inline; }
  .trigram a {
    font-weight: bold;
    margin: 0 0 0 20px;
    color: #7EB830; }
    .trigram a:hover {
      color: #028048; }
    @media only screen and (min-width: 1111.1111px) {
      .trigram a {
        display: none; } }

.navi {
  float: right;
  margin: 15px 5px; }
  .navi a {
    font-weight: bold;
    color: #7EB830; }
    .navi a:hover {
      color: #028048; }

.navbar {
  display: inline; }
  .navbar ul.navUL {
    display: inline; }
    .navbar ul.navUL li {
      list-style: none;
      float: right;
      margin: 10px 0; }
      .navbar ul.navUL li a {
        font-weight: bold;
        text-decoration: none;
        font-family: "B Badr", "B Nazanin";
        color: #7EB830;
        margin: 25px 20px; }
        .navbar ul.navUL li a:hover {
          color: #028048; }
        @media only screen and (max-width: 1500px) {
          .navbar ul.navUL li a {
            margin: 25px 8px; } }
        @media only screen and (max-width: 1111.1111px) {
          .navbar ul.navUL li a {
            display: none; } }

.sidenav {
  height: 100%;
  font-family: "B Badr", "B Nazanin";
  float: right;
  text-align: right;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #DDDDDD;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5px; }
  .sidenav a.closebtn {
    text-align: left; }
  .sidenav a {
    padding: 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #7EB830;
    display: block;
    transition: 0.3s; }
    .sidenav a:hover {
      color: #028048; }

.navHR {
  width: 80%;
  margin: 0 10%;
  color: #EEEEEE; }

.groups {
  display: flex;
  justify-content: center;
  flex: 0 1 auto;
  margin: 20px 0;
  flex-wrap: nowrap; }
  .groups .groupsPRT {
    max-width: 170px;
    text-align: center;
    flex-grow: 1;
    padding: 0 10px; }
    @media (max-width: 1111px) {
      .groups .groupsPRT {
        margin: 0; } }
    @media (max-width: 600px) {
      .groups .groupsPRT {
        padding: 0 5px; } }
    .groups .groupsPRT .groupsIMG img {
      vertical-align: middle;
      width: 150px;
      height: 150px;
      text-align: center;
      border-radius: 100px;
      border: 2px solid #7EB830;
      box-shadow: 0 0 15px gray; }
      @media (max-width: 1111.1111px) {
        .groups .groupsPRT .groupsIMG img {
          height: 100px;
          width: 100px; } }
      @media (max-width: 600.1111px) {
        .groups .groupsPRT .groupsIMG img {
          height: 75px;
          width: 75px; } }
    .groups .groupsPRT .groupsTLT {
      text-align: center;
      padding: 0;
      margin: 15px;
      position: relative;
      text-transform: capitalize;
      min-height: 50px;
      border: none;
      text-shadow: 0 0 3px #AAAAAA;
      display: inline-block;
      color: #7EB830;
      text-decoration: none;
      font-family: "B Badr", "B Nazanin";
      font-size: 20px;
      font-weight: bold; }
      @media (max-width: 600px) {
        .groups .groupsPRT .groupsTLT {
          margin: 5px; } }

.footerBG {
  width: 100vw;
  background-color: #DDDDDD;
  position: absolute;
  padding: 0;
  padding-top: 25px;
  margin: 0;
  bottom: 30px;
  border-top: 1px solid #777777; }

footer {
  width: 70%;
  height: 300px;
  margin: 0 15%;
  display: flex;
  flex: 4;
  background-color: #DDDDDD; }
  @media only screen and (max-width: 933.339px) {
    footer {
      height: 330px; } }
  @media only screen and (max-width: 852.258px) {
    footer {
      flex: 3; } }
  @media only screen and (max-width: 650.056px) {
    footer {
      width: 100vw;
      margin: 0; } }

h3.FTRH3 {
  color: #028048;
  font-family: "B Badr", "B Nazanin";
  text-align: center;
  margin: 0;
  padding: 2px 0; }

h3.FTRH3-bg {
  display: inline;
  color: #028048;
  font-family: "B Badr", "B Nazanin";
  text-align: center;
  margin: 0;
  padding: 2px 0; }
  @media only screen and (max-width: 1019.9101px) {
    h3.FTRH3-bg {
      display: none; } }

h3.FTRH3-sm {
  display: none;
  color: #028048;
  font-family: "B Badr", "B Nazanin";
  text-align: center;
  margin: 0;
  padding: 2px 0; }
  @media only screen and (max-width: 1019.9101px) {
    h3.FTRH3-sm {
      display: inline; } }

h5.FTRH5 {
  margin: 0;
  padding: 10px 0;
  font-family: "B Badr", "B Nazanin"; }

ul {
  width: 100%;
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }
    ul li a {
      text-decoration: none;
      color: #7EB830;
      font-family: "B Badr", "B Nazanin"; }
      ul li a:hover {
        color: #028048;
        text-shadow: 0 0 1px #000000;
        transition: 0.3s; }

div.footerLOGO {
  flex: 1;
  text-align: center;
  margin-top: 70px; }
  @media only screen and (max-width: 852.258px) {
    div.footerLOGO {
      display: none; } }
  div.footerLOGO a img {
    height: 50px; }
    div.footerLOGO a img:hover {
      height: 75px;
      transition: 1s; }

.AboutUS {
  flex: 1;
  text-align: center; }

.Customer {
  flex: 1;
  text-align: center; }

.Connect {
  flex: 2;
  text-align: center; }

.SocialNTWIcon {
  padding: 5px 5px; }

.telegram a {
  color: #0088CC; }

.instagram a {
  color: #FD1D1D; }

.Contact {
  text-align: center; }

.Offer .Offers button {
  border: 2px solid #028048;
  border-radius: 8px;
  width: 80px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  font-family: "B Badr", "B Nazanin";
  color: #FFFFFF;
  background-color: #7EB830; }
  @media only screen and (max-width: 1251.1521px) {
    .Offer .Offers button {
      width: 60px; } }
.Offer .Offers input {
  border: 2px solid #028048;
  border-radius: 8px;
  width: 265px;
  height: 40px; }
  @media only screen and (max-width: 1177.7711px) {
    .Offer .Offers input {
      width: 190px; } }
  @media only screen and (max-width: 966.669px) {
    .Offer .Offers input {
      width: 160px; } }

h3.Number {
  font-family: "B Badr", "B Nazanin";
  color: #333333;
  display: inline; }
  @media only screen and (max-width: 933.339px) {
    h3.Number {
      display: none; } }

h3.Number-sm {
  font-family: "B Badr", "B Nazanin";
  color: #333333;
  display: none; }
  @media only screen and (max-width: 933.339px) {
    h3.Number-sm {
      display: inline; } }

.fa-phone-alt {
  color: #028048;
  margin-right: 5px; }

h3.Email {
  font-family: "sans-serif";
  color: #333333;
  display: inline; }
  @media only screen and (max-width: 1630.0361px) {
    h3.Email {
      display: none; } }

h3.Email-sm {
  display: inline;
  font-family: "B Badr", "B Nazanin"; }
  h3.Email-sm a {
    font-family: "sans-serif";
    color: #333333;
    display: none;
    text-decoration: none;
    margin-left: 12px; }
    @media only screen and (max-width: 1630.0361px) {
      h3.Email-sm a {
        display: inline; } }

.fa-envelope {
  color: #CC00CC; }
  @media only screen and (max-width: 1630.0361px) {
    .fa-envelope {
      margin-right: 0; } }

input[type="email"]::placeholder {
  text-align: center;
  font-family: "B Badr", "B Nazanin"; }

.Right {
  width: 100vw;
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 10px;
  font-weight: lighter;
  display: inline;
  font-family: Work Sans, sans-serif;
  color: #AAAAAA;
  background-color: #DDDDDD;
  border-top: 1px solid #777777; }

body {
  background-color: #EEEEEE;
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

/*# sourceMappingURL=Main.css.map */
